{% extends "glancy/base.tpl" %}

{% block content %}
<div id="pic-left" class="home-pic">
  <img src="{{ left.illustration_url }}" class="illustration">
  <img src="{{ left.photo_url }}" class="photo">
</div>
<div id="pic-right" class="home-pic">
  <img src="{{ right.illustration_url }}" class="illustration">
  <img src="{{ right.photo_url }}" class="photo">
</div>
{% endblock %}

{% block script %}
<script>
(function(jQuery) {
  function fadeToggle(selector) {
      window.setInterval(function() { jQuery(selector).fadeToggle(1000) }, 5000);
  }
  fadeToggle('#pic-left .photo');
   window.setTimeout(function() {
      fadeToggle('#pic-right .photo');
  }, 2500);
})(jQuery);
</script>
{% endblock %}