{% extends "glancy/base.tpl" %}

{% block content %}
  <h2>Portfolio</h2>
  <div id="pic-left">
    {% for photo in photos %}
      <a href="#" rel="{{ photo.photo_url }}=s460" class="thumb-link">
        <img src="{{ photo.photo_url }}=s100-c" border="0" width="100" height="80">
      </a>
    {% endfor %}
  </div>
  <div id="pic-right">{{ photos|first }}</div>
{% endblock %}

{% block script %}
<script>
  $(function() {
    $('.thumb-link').click(function() {
      var image = $(this).attr('rel');
      $('#pic-right').hide()
        .fadeIn('slow')
        .html('<img src="' + image + '"/>');
      return false;
    });
  });
</script>
{% endblock %}