{% extends "glancy/base.tpl" %}
{% load markup %}

{% block content %}
    <div id="main">
    <table>
      {% for price in prices %}
      <tr>
        <td>{{ price.description }}</td>
        <td class="cost">{{ price.cost }}</td>
      </tr>
      {% endfor %}
    </table>
    <p class="subcontent">{{ page.subcontent }}</p>
    </div>
    <div id="side">
    {% if page.photo %}
    <img src="{{ page.photo_url }}=s440" alt="">
    {% endif %}
    {{ page.content|markdown }}
    </div>
{% endblock %}