/*
whiteblue: #d1e4f4;
darkblue: #405a73;
lightblue: #87bff2;
greyblue: #626b73;
midblue: #6b97bf;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: #d1e4f4;
  color: #405a73;
  font-family: Georgia, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel', Georgia, sans-serif;
  font-weight: normal;
}

h2, h3, p {
  margin-bottom: 10px;
}


#home-page h2 {
  text-align: center;
}

#header, #content, #footer {
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  width: 940px;
}

#footer {
  background: none;
  font-size: 10px;
  padding: 10px 0 20px 0;
  text-transform: uppercase;
  width: 980px;
}

#header {
  height: 150px;
  margin-top: 20px;
  text-align: center;
}

#nav {
  background: #626b73;
  font-family: 'Cinzel', Georgia, sans-serif;
  height: 38px;
  padding: 4px 0;
  text-align: center;
}

#nav ul {
  border: 1px dashed #fff;
  border-width: 1px 0;
  min-width: 980px;
}

#nav li {
  display: inline;
}

#nav li a {
  color: #d1e4f4;
  font-size: 16px;
  line-height: 36px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#content {
  line-height: 1.5;
  padding-bottom: 30px;
  padding-top: 30px;
}

#content p {
  font-size: 16px;
}

#content p.subcontent {
  font-size: 13px;
  margin-top: 20px;
}

#content ul {
  list-style-position: inside;
}

#content h3 {
  margin-top: 30px;
}

#content table {
  border-collapse: collapse;
}

#content td {
  border: 1px solid #ccc;
  padding: 2px 5px;
}

#content td.cost {
  width: 150px;
}

#home-page #home-link a,
#about-page #about-link a,
#portfolio-page #portfolio-link a,
#pricing-page #pricing-link a,
#suppliers-page #suppliers-link a,
#contact-page #contact-link a,
#nav li a:hover {
  color: #87bff2;
}

#main {
  float: left;
  width: 63%;
}

#side {
  float: right;
  width: 33%;
}

#pricing-page #main { width: 47% }
#pricing-page #side { width: 47% }

#pricing-page #side img {
  border: 1px solid #ccc;
}

.home-pic {
  border: 1px solid #d1e4f4;
  height: 345px;
  position: relative;
  width: 460px;
}

.home-pic img {
  position: absolute;
}

.home-pic img {
  display: block;
}

#pic-left {
  float: left;
}

#portfolio-page #pic-left {
  width: 50%;
}

#pic-right {
  float: right;
}

#portfolio-page #pic-right {
  width: 460px;
  height: 460px;
}

#portfolio-page #pic-right img,
#portfolio-page #pic-left img {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}

#portfolio-page #content img {
  border: 1px solid #ccc;
}

.active img {
  -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.8);
  box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.8);
}

#suppliers {
  margin: 30px 200px;
}

#suppliers li {
  list-style: none;
  float: left;
  font-size: 18px;
  margin-bottom: 10px;
  width: 49%;
}

#suppliers a {
  font-family: 'Cinzel', Georgia, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

#content a {
  color: #405a73;
}

#content a:hover {
  color: #6b97bf;
}

#contact {
  margin: 0 150px;
}

#contact p {
  font-size: 18px;
}

/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
